
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000000;
    overflow-x: hidden; 
    scroll-behavior: smooth; 
    text-align: left; 
}


.container {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto;
}


header {
    background-color: #22478b;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 10; 
}


header h1 {
    text-align: left; 
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start; 
    margin-top: 10px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}


section {
    padding: 60px 0;
    text-align: left; 
}


section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}


.project {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.project h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Styl pro zápatí stránky */
footer {
    background-color: #1f44aa;
    color: #fff;
    text-align: center; /* Zarovnání textu v zápatí na střed */
    padding: 20px;
    position: relative;
}

/* Umožní plynulé scrollování na stránce */
html {
    scroll-behavior: smooth;
}

/* Media query pro responzivní design */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start; /* Zarovnání odkazu v navigaci na levou stranu */
    }

    nav ul li {
        margin: 10px 0;
    }

    section h2 {
        font-size: 2em;
    }

    .project {
        padding: 15px;
        margin: 10px 0;
    }
}
